/* styles.css */

.product-container {
    width: 48%;
    margin: 1%;
    float: left;
    margin-bottom: 20px; /* Adjust the spacing as needed */
}

 a {
    color: black;
    text-decoration: none;
  }

/* style.css 또는 해당 JSP 페이지의 <style> 태그 내에 추가 */
#categoryContainer {
    max-width: 150px; /* 최대 너비를 설정 (원하는 값으로 변경) */
    max-height: 150px;
    margin: 10px; /* 여백 설정 (원하는 값으로 변경) */
}


 .jumbo {
    	background-color: rgba(255, 255, 255, 0);
    	border: none;
    	padding: 50px;
    	max-width: 1000px;
    	margin:0 auto;
    	text-align: center;
    	color: #115A5B;
    	   margin-top: 20px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
	}
	
	.jumbo h1 {
    font-size: 3em; /* Adjust the font size as needed */
}
